.login-form-container {
  max-width: 50%;
  display: -ms-flexbox;
  margin-left: 25%;
  padding-top: 4%;
  margin-top: 3%;
}

.btn {
  width: 40%;
  margin-left: 30%;
}

h3 {
  margin-left: 30%;
  color: rgb(255, 255, 255);
}

#formWhite:-webkit-autofill {
  background-color: #393939; /* Set the background color for autofilled fields */
  color: #ffffff; /* Set the text color for autofilled fields */
}

.dark-theme {
  background-color: rgb(39, 39, 39);
  min-height: 100vh;
  max-height: 150vh;
  margin-top: -3%;
}

form {
  width: 60%;
  margin-left: 15%;
}
